.App {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App header {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  position: sticky;
  top: 0;  
}

.app-body {
}

.App-link {
  color: #61dafb;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

.nav-bar a:hover {
  color: white;
}

.nav-bar a.nav-link-active {
  color: white;
}
